html {
    font-size: 65.5%;
}

body{
    background-color:#E8E8F0;
    margin-bottom:0%;
    font-size: 1.2rem;
}
.header {
    text-align:center;/*Centre the text*/
    font-size: 3.2rem;
}
h1{
    font-family: 'Aldrich', sans-serif;
    font-weight:400;
    font-size: 2rem;
}
.navigation a {
    text-decoration:none; /*Remove underline*/
    font-weight:bold; /*turn the navigation text/links into bold font*/
    color: black; /*output the text in black*/
    position:relative;
}

.navigation a:hover {
    text-decoration:underline; /*When mouse hovers over link underline*/
}

.navigation{
    text-align: center;
    font-size: 1.6rem;
	height:20px;
}
.nav_item{
    float:left;
    width: 80px;
    height: 18px;
	margin-right:5px;
}
.nav_sec{
    margin: 0 auto;
    width: 360px;
    overflow: visible;
}
.nav_home{
width:51px;
margin-right: 5px;
float: left;
height: 18px;
}
.nav_contact{
width:85px;
margin-right: 5px;
float: left;
height: 18px;
}
.nav_qualifications{
width:110px;
margin-right: 5px;
float: left;
height: 18px;
}
.showme{/*http://stackoverflow.com/questions/5210033/show-div-on-hover-with-only-css */
    display: none;
}
.showhim:hover .showme{
    display: block;
    position: relative;
    top: 2px;
    left: -140px;
    z-index: 10;
    background-color:#E8E8F0;
    padding: 2px;

    width: 400px;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.footer {
    clear:both;
    padding-top:2px;
}

.footer p {
    font-size:10px;
    text-align:left;
}
p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight:400;
    margin-top:0%;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-weight:700;
    text-decoration:underline;
    margin-bottom:0%;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-weight:700;
    text-decoration:underline;
    margin-bottom:0px;
}
.social {
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 3px;
    padding-right: 3px;
}

.social-icon {
    display: block;
    width:24px;
    height:24px;
}
.side_nav{
    width:20%;
    position:absolute;
    float:left;
}
.side_nav a{
    display:block;
}
.main_content{
    padding-left:22%;
    padding-right:14%;
}
hr {
    clear: left;
}

/*Pages with 2 collum layout*/
.collum_one{
width:30%;
float:left;
    padding-left: 22%;
}
.collum_two{
width:30%;
float:left;
    padding-left: 2%;
} /*Pages with 2 collum layout*/

/* Some basic styling to notify users
about the tooltips*/
.tooltip {
    color: #900;
    text-decoration: none;
}

.tooltip:hover {
    color: red;
    position: relative;
}
/* Tooltip on Bottom. Code taken from http://webdesignerhut.com/pure-css-tooltips-with-html5-data-attribute/?ref=example . */
.tooltip-bottom[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    padding: 1px 8px;
    position: absolute;
    width: 10em;
    left: 0;
    top: 90%;
    white-space: pre-line;
    background-color: #000;
    color: #fff;
}
/* Tooltip on Top */
.tooltip-top[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    padding: 4px 8px;
    position: absolute;
    width: 10em;
    left: 0;
    bottom: 100%;
    white-space: pre-wrap;
    z-index: 20px;
    background-color: #000;
    color: #fff;
}
/* Tooltip on Left */
.tooltip-left[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    padding: 4px 8px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
    z-index: 20px;

    background-color: #000;
    color: #fff;
}
