.header {
    text-align:center;/*Centre the text*/
}

.navigation a{
    text-decoration:none; /*Remove underline*/
    font-weight:bold; /*turn the navigation text/links into bold font*/
    color: black; /*output the text in black*/
    padding-left:10px; /*Give a space of 10px between each link*/
}

.navigation a:hover {
    text-decoration:underline; /*When mouse hovers over link underline*/
}

.navigation {
    text-align: center;
    clear: left;
}

.footer {
    clear:both;
    padding-top:2px;
}

.footer p {
    font-size:10px;

    text-align:left;
}

.social {
    text-align: center;
    z-index:-1;
    position: fixed;
    right: 0;
    top: 0;
}

.social img {
    height: 60px;
    width: 60px;
    line-height: 60px;
}

hr {
    clear: left;
}
