.header {
    text-align:center;/*Centre the text*/
}
h1{
font-family: 'Aldrich', sans-serif;
font-weight:400;
}
.navigation a {
    text-decoration:none; /*Remove underline*/
    font-weight:bold; /*turn the navigation text/links into bold font*/
    color: black; /*output the text in black*/
    padding-left:10px; /*Give a space of 10px between each link*/
}

.navigation a:hover {
    text-decoration:underline; /*When mouse hovers over link underline*/
}

.navigation {
    text-align: center;
    clear: left;
}

.footer {
    clear:both;
    padding-top:2px;
}

.footer p {
    font-size:10px;

    text-align:left;
}
p{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight:400;
}
h2{
font-family: 'Oswald', sans-serif;
font-weight:700;
text-decoration:underline;
}
h3{
font-family: 'Oswald', sans-serif;
font-weight:700;
text-decoration:underline;
}
.social {
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 3px;
    padding-right: 3px;
}

.social-icon {
    display: block;
    width:24px;
    height:24px;
}

hr {
    clear: left;
}
