#personal{
width:43%;
float:left;
}
#personal p{
margin-top:0px;
margin-bottom:3.1%;
padding-top:1%;
padding-left:12%;
}
#personal_image{
float:left;
width:47%;
padding-left:6%;
}
#personal h3{
margin-top:0px;
padding-left:12%;
}
#main_content h2{
margin-bottom:0px;
padding-left:5%;
}