
body{
background-color:#E8E8F0;
}
#main_content{
background-color:#E8E8F0;
overflow:auto;
}
#personal{
width:39%;
float:left;
padding-left:5%;
}
#personal_image{
float:right;
width:40%;
}
h2{
padding-left:1%;
}
p{
height:5%;
padding-top:0;
}
