#html_intro{
width:30%;
float:left;
margin-right:1%;
padding-left:1%;
padding-right:1%;
border-right-style: solid;
border-width: 3%;
}
#html_intro h2{
padding-left:0px;
margin-bottom:0px;
}
#html_intro p{
margin-top:0px;
}
#html_four{
width:30%;
float:left;
margin-right:1%;
padding-left:1%;
padding-right:1%;
border-right-style: solid;
border-width: 3%;
}
#html_four p{
margin-top:0px;
}
#html_five{
width:30%;
float:left;
padding-left:1%;
}
#html_five p{
margin-top:0px;
}
