#java {
width:35%;
padding-left:18%;
float:left;
}
#java h2{
margin-top:0%;
margin-bottom:0px;
}
#java p{
margin-top:0px;
margin-bottom:0px;
}
#star_uml{
width:35%;
float:left;
padding-left:2%;
margin-top:0.6%;
}
#star_uml h3{
margin-top:1.5%;
margin-bottom:0px;
}
#star_uml p{
margin-top:0px;
margin-bottom:0px;
}
#images{
}
img{
padding-top:1%;
}
#ucd_image{
width:39.1%;
float:left;
padding-left:13%;
}
#ld_image{
width:30%;
float:left;
padding-right:4%;
}