#main_content p {
padding-left:15%;
padding-right:15%;
margin-top:0px;
}
#main_content h2{
padding-left:15%;
margin-bottom:0px;
margin-top:1%;
}
#language_app{
 float:left;
  width:36%;
 padding-left:15%;
}
#language_app p{
margin-top:0px;
margin-bottom:1%;
}
#encryption_app{
float:left;
  width:39%;
padding-left:3%; 
}
#encryption_app p{
padding-right:25px;
margin-top:0px;
margin-bottom:1%;
}
#resize{
  width:150px;
}
h3{
margin-top:2%;
}