#main_content p {
padding-left:110px;
padding-right:50px;
margin-top:0px;
}
#main_content h2{
padding-left:108px;
margin-bottom:0px;
margin-top:1%;
}
#language_app{
 float:left;
  width:50%;
 padding-left:11%;
}
#language_app p{
padding-right:150px;
margin-top:0px;
margin-bottom:1%;
}
#encryption_app{
float:right;
  width:39%; 
}
#encryption_app p{
padding-right:25px;
margin-top:0px;
margin-bottom:1%;
}
#resize{
  width:150px;
}
h3{
margin-top:2%;
margin-bottom:0px;
}